<div class="hero about-hero">
	<div class="container">
		<div class="content-container">
			<h1><%= current_page.data.headline %></h1>
			<p class="subtitle"><%= current_page.data.subtitle %></p>
			<p class="intro-text"><%= current_page.data.introtext %></p>
		</div>
		<div class="img-container">
   			<%= image_tag current_page.data.heroimage, :alt => 'Caufield Engraving Store' %>
  		</div>
	</div>
	<div class="container">
		<%= image_tag  "images/award-be-awards.png", :alt => 'BE Award',:class => 'award-row' %>
		<%= image_tag  "images/award-best-of-the-best-2018.png", :alt => 'Best of the Best 2018',:class => 'award-row' %>
		<%= image_tag  "images/award-employer-of-the-year-2017.png", :alt => 'Employer of the Year 2017',:class => 'award-row' %>
		<%= image_tag  "images/award-employer-of-the-year-finalist-2011.png", :alt => 'Employer of the Year 2011',:class => 'award-row' %>
		<%= image_tag  "images/award-employer-of-the-year-finalist-2015.png", :alt => 'Employer of the Year 2015',:class => 'award-row' %>
		<%= image_tag  "images/award-small-business-of-the-year-2015.png", :alt => 'Small Business of the Year 2015',:class => 'award-row' %>
		<%= image_tag  "images/award-top-20.png", :alt => 'Top 20 under 40',:class => 'award-row' %>
		<%= image_tag  "images/award-woman-of-the-year-2017.png", :alt => 'Woman of the Year 2017',:class => 'award-row' %>
	</div>
</div>
