
  <header class="nav-header <%= current_page.data.fixedheader %>">

	<div class="container">
		<div class="nav-container">
			<div class="nav-left">
				<div class="contact">

					<% link_to 'https://www.facebook.com/CaufieldsEngraving/', :class=> 'fb', :target=> '_blank' do %>
  					<i class="fa fa-facebook" aria-hidden="true"></i> 
					<% end %>

					<% link_to 'tel:1-250-542-6293', :class=> 'phone' do %>
						<span>
  						<i class="fa fa-phone" aria-hidden="true"></i>
  					</span>
  					250.542.6293
					<% end %>

				</div>
				<% link_to '/', :class => 'logo-link' do %>
					<img class="site-logo" src="<%= image_path('logo-cm.png') %>" srcset="<%= image_path('logo-cm@2x.png') %> 2x">

				<% end %>
			</div>
			<div class="nav-right">
				<nav role="navigation">
					<%= current_link_to 'Free Quote', '/estimate/', :class => 'quote-link btn' %>
					<input type="checkbox" />
					<a href="#" title="mobile-menu" class="hamburger">
						<span></span>
	  				<span></span>
	  				<span></span>
	  			</a>
					<ul>
						<li><%= current_link_to 'About', '/about/' %></li>
						<li><%= current_link_to 'Services', '/services/' %></li>
						<li><%= current_link_to 'Process', '/process/' %></li>
						<li><%= current_link_to 'Contact', '/contact/' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
