---
hero_layout: "partials/layouts/about_hero"
title: About | Caufields Memorials
headline: About Caufields
subtitle: Established in 1984
heroimage: images/about_hero.jpg
introtext: Caufield Memorials is a versatile and dependable supplier of engraved, sandblasted and cast memorial products with supply across Canada and the US. Based out of Vernon, BC we are focused on continuing to pride ourselves on what has brought us here today, quality products and customer satisfaction. Caufields Engraving Ltd. has been in business for over 30 years and in that time, we have become a trusted supplier to many individuals as well as large companies across Canada and the US. We are committed to combining our services to offer the best and highest quality memorials that will last forever.
---
<div class="main-content">
  <section class="sub-template-content">
    <div class="container">
      <h2>WHAT WE DO:</h2>
        <p>We service local and out of town customers and wholesalers alike with many services. Laser and Rotary engraving is very versatile allowing us to offer permanent marking on many products as well as cutting and tracing capabilities. Combined with Sandblasting which is another way of permanently marking material we can offer many services. We also use vinyl and a color printing process called ‘sublimation’, done in house as well as other materials for very creative projects for signage and other uses.
        </p>
    </div>  
  </section>
  <section class="team">
    <h2>Meet the Team</h2>
    <div class="container">
      <div class="img-container team-member">
         <%= image_tag "images/kim.jpg", :alt => 'Kim - Owner' %>
      </div>
      <div class="img-container team-member">
         <%= image_tag "images/employee1.jpg", :alt => 'Kim - Owner' %>
      </div>
      <div class="img-container team-member">
         <%= image_tag "images/employee3.jpg", :alt => 'Kim - Owner' %>
      </div>
      <div class="img-container team-member">
         <%= image_tag "images/employee2.jpg", :alt => 'Kim - Owner' %>
      </div>
    </div>  
  </section>
  <%= partial "partials/layouts/quote_banner" %>

</div>
