---
hero_layout: "partials/layouts/hero"
title: About | Caufields Memorials
headline: About Caufields
subtitle: Established in 1984
heroimage: images/about_hero.jpg
introtext: Caufield Memorials is a versatile and dependable supplier of engraved products and services with supply across Canada and the US. Based out of Vernon, BC. We are focused on continuing to pride ourselves on what has brought us here today, quality products and customer satisfaction. Caufields Engraving Ltd. has been in business for close to 30 years, in that time we have become a trusted supplier to many large companies across Canada and the US in the Industrial field.
---
<div class="main-content">
  <section class="sub-template-content">
    <div class="container">
      <h2>PRODUCT & MATERIAL GUIDE</h2>
      <p>Caufields Engraving has a great reputation as a long time supplier and manufacturer of engraved ID labels for industrial machinery and electrical businesses. Most of our commercial work consists of stainless steel cable tags; laser engraved anodized aluminum, plastic and brass valve tags, push buttons and plastic lamacoids. Our team is committed to achieving the highest quality product available to the marketplace.</p>

      <p>Caufields is also the largest supplier of engraved brass tack tags and stall plaques in Canada, acting as supplier to more than 50 Equine stores across Canada. We offer the largest selection in brass and nickel plated tags traditionally acid etch engraved with a large range of fonts and no limit to the content. We offer a wide range of engraving services from awards to signage to custom services among others. If you are looking for anything to be permanently marked or promotional products of any kind, give us a call.</p>
      <p>
      Caufields Engraving is committed to being highly trained in our field by sending both owners and employees to annual training sessions on a regular basis. Having highly trained employees reduces down time for customer orders and machine breakdown. Also allows us to broaden our scope of the market and offer a very competitive price, the highest standards on deliverables and turnaround time.
      </p>
      <p>
      If you would like to talk to someone about any engraved or promotional products, or our process please give us a call or email. We would love the opportunity to show you why we are a leader in the industry.</p>
    </div>  
  </section>
  <section class="team">
    <h2>Meet the Team</h2>
    <div class="container">
      <div class="img-container team-member">
         <%= image_tag "images/kim.jpg", :alt => 'Kim - Owner' %>
      </div>
      <div class="img-container team-member">
         <%= image_tag "images/employee1.jpg", :alt => 'Kim - Owner' %>
      </div>
      <div class="img-container team-member">
         <%= image_tag "images/employee3.jpg", :alt => 'Kim - Owner' %>
      </div>
      <div class="img-container team-member">
         <%= image_tag "images/employee2.jpg", :alt => 'Kim - Owner' %>
      </div>
    </div>  
  </section>
  <%= partial "partials/layouts/quote_banner" %>

</div>
