---
hero_layout: "partials/layouts/estimate_hero"
title: Estimate | Caufields Memorials
headline: Build Your Free Estimate
---

<form id="free-estimate" title="Estimate form" method="post" action="https://static-files.canaryprint.ca/caufieldsmemorials.com/estimates.php" class="estimate-form">

<div class="main-content">

  <section class="step-1">
    <fieldset class="productgroup">
      <legend>Step 1. Pick a Type</legend>
      <div class="container">
        <div class="col-3">
          <div class="selection-container">
            <div class="slant_marker">
              <span class="img-container">
                <%= image_tag "images/slant_marker.png", :alt => 'monument icon' %>
              </span>
              <label class="h3" for="slantmarker">Slant Marker
                <input type="radio" name="type" value="Slant Marker" />
              </label>
            </div>
          </div>

          <div class="selection-container">
            <div class="bevel_marker">
              <span class="img-container">
                <%= image_tag "images/marker.png", :alt => 'monument icon' %>
              </span>
              <label class="h3" for="bevelmarker">Bevel Marker
                <input type="radio" name="type" value="Bevel Marker" />
              </label>
            </div>
          </div>

          <div class="selection-container">
            <div class="flat_top">
              <span class="img-container">
                <%= image_tag "images/flat_top.png", :alt => 'monument icon' %>
              </span>
              <label class="h3" for="flattop">Die (Flat Top)
              <input type="radio" name="type" value="Flat Top" />
              </label>
            </div>
          </div>

          <div class="selection-container">
            <div class="serp_top">
              <span class="img-container">
                <%= image_tag "images/monuments.png", :alt => 'monument icon' %>
              </span>
              <label class="h3" for="serptop">Die (Serp Top)
                <input type="radio" name="type" value="Serp Top" />
              </label>
            </div>
          </div>

          <div class="selection-container">
            <div class="grass_marker">
              <span class="img-container">
                <%= image_tag "images/grass_marker.png", :alt => 'monument icon' %>
              </span>
              <label class="h3" for="grassmarker">Flat/Grass Marker
                <input type="radio" name="type" value="Grass Marker" />
              </label>
            </div>
          </div>

          <div class="selection-container bronze-plaque">
            <div class="bronze_plaque">
              <span class="img-container">
                <%= image_tag "images/plaque.png", :alt => 'monument icon' %>
              </span>
              <label class="h3" for="bronzeplaque">Bronzed Plaque
                <input type="radio" name="type" value="Bronze Plaque" />
              </label>
            </div>
          </div>

        </div>
      </div>
    </fieldset>
  </section>

  <section class="step-2">
    <div class="container">
      <fieldset>
      <legend>Step 2. Pick a Size</legend>
      <p>This is just a starting size, we can customize to meet your needs.</p>
      <div class="product-container default" id="slant_marker">
        <h3>Slant Marker | Length x Width x Height</h3>
        <span class="img-container">
          <%= image_tag "images/slant_marker.png", :alt => 'slant marker' %>
        </span>
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="20x10x16">20 x 10 x 16 Inches<br />(Base 22 x 12 x 6)
                <input type="radio" name="size" value="20x10x16" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="24x10x16">24 x 10 x 16 Inches <br />(Base 30 x 12 x 6)
                <input type="radio" name="size" value="24x10x16" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">

              <label class="h3" for="30x10x16">30 x 10 x 16 Inches <br />(Base 36 x 12 x 4)
                <input type="radio" name="size" value="30x10x16" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container" id="bevel_marker">
        <h3>Bevel Marker | Length X Height X Width</h3>
        <span class="img-container">
          <%= image_tag "images/marker.png", :alt => 'bevel marker' %>
        </span>
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="20x10x6">20 x 10 x 6 Inches
                <input type="radio" name="size" value="20x10x6" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="20x12x6">20 x 12 x 6 Inches
                <input type="radio" name="size" value="20x12x6" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="24x12x6">24 x 12 x 6 Inches
                <input type="radio" name="size" value="24x12x6" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="30x12x6">30 x 12 x 6 Inches
                <input type="radio" name="size" value="30x12x6" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container" id="flat_top">
        <h3>Die (Flat Top) | Length x Width x Height</h3>
        <span class="img-container">
          <%= image_tag "images/flat_top.png", :alt => 'flat top' %>
        </span>
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="20x6x16">20 x 6 x 16 Inches <br />(Base 26 x 12 x 6)
                <input type="radio" name="size" value="20x6x16" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="24x6x20">24 x 6 x 20 Inches <br />(Base 30 x 12 x 4)
                <input type="radio" name="size" value="24x6x20" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="30x6x20"> 30 x 6 x 20 Inches <br />(Base 36 x 12 x 6)
                <input type="radio" name="size" value="30x6x20" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container" id="serp_top">
        <h3>Die (Serp Top) | Length x Width x Height</h3>
        <span class="img-container">
          <%= image_tag "images/monuments.png", :alt => 'serp top' %>
        </span>
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="20x6x16">20 x 6 x 16 Inches <br />(Base 26 x 12 x 6)
                <input type="radio" name="size" value="20x6x16" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="24x6x20">24 x 6 x 20 Inches <br />(Base 30 x 12 x 4)
                <input type="radio" name="size" value="24x6x20" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="30x6x20">30 x 6 x 20 Inches <br />(Base 36 x 12 x 6)
                <input type="radio" name="size" value="30x6x20" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container" id="grass_marker">
        <h3>Grass Marker (Flat) | Length x Height x Width </h3>
        <span class="img-container">
          <%= image_tag "images/grass_marker.png", :alt => 'Grass Marker' %>
        </span>
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="12x8x4"> 12 x 8 x 4 Inches
                <input type="radio" name="size" value="12x8x4" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="20x8x4"> 20 x 8 x 4 Inches
                <input type="radio" name="size" value="20x8x4" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="20x12x4">20 x 12 x 4 Inches
                <input type="radio" name="size" value="20x12x4" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="24x12x4">24 x 12 x 4 Inches
                <input type="radio" name="size" value="24x12x4" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container" id="bronze_plaque">
        <h3>Bronze Plaque | Length x Width x Height</h3>
        <span class="img-container">
          <%= image_tag "images/plaque.png", :alt => 'bronze plaque' %>
        </span>
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="8x20">8 x 20 Inches
                <input type="radio" name="size" value="8x20" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="12x20">12 x 20 Inches
                <input type="radio" name="size" value="12x20" />
              </label>
            </div>
          </div>
          <div class="selection-container">
            <div class="copy-container">
              <label class="h3" for="16x10">16 x 10 Inches
                <input type="radio" name="size" value="16x10" />
              </label>
            </div>
          </div>
        </div>
      </div>
      </fieldset>
    </div>
  </section>
  <section class="step-3">
    <div class="container">
      <fieldset>
      <legend>Step 3. Pick a Colour</legend>
      <div class="product-container color-choices">
        <div class="black selection-container">
          <div class="colour">
            <label class="h3" for="black-ultimate">Black Ultimate
              <input type="radio" name="colour" value="Black Ultimate" />
            </label>
            <%= image_tag "images/granite/black-ultimate.jpg", :alt => 'black ultimate' %>
          </div>
        </div>
        <div class="gray selection-container">
          <div class="colour">
            <label class="h3" for="gray">Barre Gray
              <input type="radio" name="colour" value="Barre Gray" />
            </label>
            <%= image_tag "images/granite/barre-grey.jpg", :alt => 'Barre Gray' %>
          </div>
        </div>
        <div class="rose selection-container">
          <div class="colour">
            <label class="h3" for="mountain-rose">Mountain Rose
              <input type="radio" name="colour" value="Mountain Rose" />
            </label>
            <%= image_tag "images/granite/mountain-rose.jpg", :alt => 'Mountain rose' %>
          </div>
        </div>
        <div class="blue selection-container">
          <div class="colour">
            <label class="h3" for="bahama-blue">Bahama Blue
              <input type="radio" name="colour" value="Bahama Blue" />
            </label>
            <%= image_tag "images/granite/bahama-blue.jpg", :alt => 'bahama blue' %>
          </div>
        </div>
        <div class="mahogany selection-container">
          <div class="colour">
            <label class="h3" for="mahogany">Dakota Mahogany
              <input type="radio" name="colour" value="Dakota Mahogany" />
            </label>
            <%= image_tag "images/granite/dakota-mahogany.jpg", :alt => 'dakota mahogany' %>
          </div>
        </div>

        <div class="gray selection-container">
          <div class="colour">
            <label class="h3" for="galaxy-black">Galaxy Black
              <input type="radio" name="colour" value="Galaxy Black" />
            </label>
            <%= image_tag "images/granite/galaxy-black.jpg", :alt => 'Galaxy black' %>
          </div>
        </div>
        <div class="rose selection-container">
          <div class="colour">
            <label class="h3" for="blue-pearl">Blue Pearl
              <input type="radio" name="colour" value="Blue Pearl" />
            </label>
            <%= image_tag "images/granite/blue-pearl.jpg", :alt => 'blue pearl' %>
          </div>
        </div>
        <div class="blue selection-container">
          <div class="colour">
            <label class="h3" for="blue">Bahama Blue
              <input type="radio" name="colour" value="Bahama Blue" />
            </label>
            <%= image_tag "images/granite/bahama-blue.jpg", :alt => 'bahama blue' %>
          </div>
        </div>
        <div class="mahogany selection-container">
          <div class="colour">
            <label class="h3" for="american-black">American Black
              <input type="radio" name="colour" value="American Black" />
            </label>
            <%= image_tag "images/granite/american-black.jpg", :alt => 'american black' %>
          </div>
        </div>
        <div class="mahogany selection-container">
          <div class="colour">
            <label class="h3" for="flash-impala">Flash Impala
              <input type="radio" name="colour" value="Flash Impala" />
            </label>
            <%= image_tag "images/granite/flash-impala.jpg", :alt => 'Flash Impala' %>
          </div>
        </div>
        <div class="other selection-container">
          <p>**Any colour available by request**</p>
          <div class="checkbox-container">
            <label for="othercolor"> Other Colour
              <input id="styled-checkbox-color" name="colour" type="radio" value="Other Colour (ask client)" />
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    </div>
  </section>

  <section class="step-4">
    <div class="container">
      <fieldset>
        <legend>Step 4. Select optional Add-ons</legend>
        <div class="col-4">
          <div>
            <div class="checkbox-container add-photo">
              <%= image_tag "images/work_photo.jpg", :alt => 'Color Photo Insert' %>
              <input id="styled-checkbox-1" name="colourphotoinsert" type="checkbox" value="Colour Photo Insert Requested" />
              <label for="styled-checkbox-1"> Add Color Photo Insert</label>
            </div>
          </div>
          <div>
            <div class="checkbox-container add-portrait">
              <%= image_tag "images/work_scene.jpg", :alt => 'Engraved portrait' %>
              <input id="styled-checkbox-5" name="engraved_portrait" type="checkbox" value="Engraved Portrait Requested" />
              <label for="styled-checkbox-5"> Add Engraved Portrait or Scene</label>
            </div>
          </div>
          <div>
            <div class="checkbox-container add-scene">
              <%= image_tag "images/work_panoramic.jpg", :alt => 'Scene' %>
              <input id="styled-checkbox-2" name="panorama" type="checkbox" value="Panoramic Scene Image Requested">
              <label for="styled-checkbox-2"> Add a Panoramic Image</label>
            </div>
          </div>
          <div>
            <div class="checkbox-container add-image">
              <%= image_tag "images/work_7.jpg", :alt => 'Image' %>
              <input id="styled-checkbox-3" name="add_image" type="checkbox" value="Image Requested">
              <label for="styled-checkbox-3"> Add an Image</label>
            </div>
          </div>
        </div>
        <div>
          <div class="checkbox-container no-addons selection-container">
            <input id="styled-checkbox-4" name="no_thanks" type="checkbox" value="No Addons">
            <label for="styled-checkbox-4"> No Add-ons, thanks!</label>
          </div>
        </div>
      </fieldset>
    </div>
  </section>
  <section class="step-5">
    <div class="container">
      <h2>Step 5. Contact Information</h2>
      <p>Fill in the form below and we will email you shortly with the details of your free estimate! We promise we won't spam you.</p>
      <div class="product-container contact-form">
        <div class="other">
          <label for="name">Name</label>
          <input type="text" required name="name" tabindex="1" />
        </div>
        <div class="other">
          <label for="email">Email</label>
          <input type="email" required name="email" tabindex="2" />
        </div>
        <div class="other">
          <label for="phone">Phone Number</label>
          <input type="text" name="phone" tabindex="3" />
        </div>
        <div class="other">
          <label for="comments">Additional Comments</label>
          <textarea name="comments" tabindex="4"></textarea>
        </div>
        <button type="submit" class="btn-primary">Send in for Your Quote</button>
      </div>
      <div id="form-messages"></div>
    </div>

  </section>

</div>
</form>
