---
hero_layout: "partials/layouts/hero"
title: Estimate | Caufields Memorials
headline: Build Your Free Estimate
subtitle: Step 1. Pick a Type
---

<div class="main-content">

  <section class="step-1">
    <div class="container">
      <div class="col-3">
        <div class="selection-container">
          <% link_to('#slant_marker') do %>
            <span class="img-container">
              <%= image_tag "images/slant_marker.png", :alt => 'monument icon' %>
            </span>  
            <h3>Slant Marker</h3>
          <% end %>
        </div>

        <div class="selection-container">
          <% link_to('#bevel_marker') do %>
            <span class="img-container">
              <%= image_tag "images/plaque.png", :alt => 'monument icon' %>
            </span>  
            <h3>Bevel Marker</h3>
          <% end %>
        </div>

        <div class="selection-container">
          <% link_to('#flat_top') do %>
            <span class="img-container">
              <%= image_tag "images/flat_top.png", :alt => 'monument icon' %>
            </span>  
            <h3>Die (Flat Top)</h3>
          <% end %>
        </div>

        <div class="selection-container">
          <% link_to('#serp_top') do %>
            <span class="img-container">
              <%= image_tag "images/monuments.png", :alt => 'monument icon' %>
            </span>  
            <h3>Die (Serp Top)</h3>
          <% end %>
        </div>

        <div class="selection-container">
          <% link_to('#grass_marker') do %>
            <span class="img-container">
              <%= image_tag "images/grass_marker.png", :alt => 'monument icon' %>
            </span>
            <h3>Flat/Grass Marker</h3>
          <% end %>
        </div>

        <div class="selection-container bronze-plaque">
          <% link_to('#bronze_plaque') do %>
            <span class="img-container">
              <%= image_tag "images/plate.png", :alt => 'monument icon' %>
            </span>
            <h3>Bronzed Plaque</h3>
          <% end %>
        </div>

      </div>
    </div>
  </section>

  <section class="step-2">
    <div class="container">
      
      <h2>Step 2. Pick a Size</h2>
      
      <div class="product-container default" id="slant_marker">
        <h3>Slant Marker</h3>
        <span class="img-container">
          <%= image_tag "images/slant_marker.png", :alt => 'slant marker' %>
        </span>  
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              20x 10 x 16 <br />(Base 22 x 12 x 6)
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              24x 10 x 16 <br />(Base 30 x 12 x 6)
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              30x 10 x 16 <br />(Base 36 x 12 x 4)
            </div>  
          </div>
        </div>
      </div>
      <div class="product-container" id="bevel_marker">
        <h3>Bevel Marker</h3>
        <span class="img-container">
          <%= image_tag "images/plaque.png", :alt => 'bevel marker' %>
        </span>  
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              20 x 10 x 6
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              20 x 12 x 6
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              24 x 12 x 6
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              30 x 12 x 6
            </div>  
          </div>
        </div>
      </div>
      <div class="product-container" id="flat_top">
        <h3>Die (Flat Top)</h3>
        <span class="img-container">
          <%= image_tag "images/flat_top.png", :alt => 'flat top' %>
        </span>  
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              20 x 6 x 16 <br />(Base 26 x 12 x 6)
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              24 x 6 x 20 <br />(Base 30 x 12 x 4) 
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              30 x 6 x 20 <br />(Base 36 x 12 x 6)
            </div>  
          </div>
        </div>
      </div>
      <div class="product-container" id="serp_top">
        <h3>Die (Serp Top)</h3>
        <span class="img-container">
          <%= image_tag "images/monuments.png", :alt => 'serp top' %>
        </span>  
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              20 x 6 x 16 <br />(Base 26 x 12 x 6)
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              24 x 6 x 20 <br />(Base 30 x 12 x 4) 
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              30 x 6 x 20 <br />(Base 36 x 12 x 6)
            </div>  
          </div>
        </div>  
      </div>
      <div class="product-container" id="grass_marker">
        <h3>Grass Marker (Flat)</h3>
        <span class="img-container">
          <%= image_tag "images/grass_marker.png", :alt => 'Grass Marker' %>
        </span>  
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              12 x 8 x 4
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              20 x 8 x 4
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              20 x 12 x 4
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              24 x 12 x 4
            </div>  
          </div>
        </div>
      </div>
      <div class="product-container" id="bronze_plaque">
        <h3>Bronze Plaque</h3>
        <span class="img-container">
          <%= image_tag "images/plate.png", :alt => 'bronze plaque' %>
        </span>  
        <div class="col-3 size-choices">
          <div class="selection-container">
            <div class="copy-container">
              8 x 20
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              12 x 20
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
              16 x 10
            </div>  
          </div>
          <div class="selection-container">
            <div class="copy-container">
             Scrolls
            </div> 
          </div>
          <div class="selection-container">
            <div class="copy-container">
              Date Tabs
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="step-3">
    <div class="container">
      <h2>Step 3. Pick a Colour</h2>
      <div class="product-container color-choices">
        <div class="black selection-container">
          <% link_to('#') do %>
            <h3>Black Ultimate</h3>
            <%= image_tag "images/granite/black-ultimate.jpg", :alt => 'black ultimate' %>
          <% end %>
        </div>
        <div class="gray selection-container">
          <% link_to('#') do %>
            <h3>Barre Gray</h3>
            <%= image_tag "images/granite/barre-grey.jpg", :alt => 'Barre Gray' %>

          <% end %>          
        </div>
        <div class="rose selection-container">
          <% link_to('#') do %>
            <h3>Mountain Rose</h3>
            <%= image_tag "images/granite/mountain-rose.jpg", :alt => 'Mountain rose' %>

          <% end %>  
        </div>
        <div class="blue selection-container">
          <% link_to('#') do %>
            <h3>Bahama Blue</h3>
            <%= image_tag "images/granite/bahama-blue.jpg", :alt => 'bahama blue' %>

          <% end %>           
        </div>
        <div class="mahogany selection-container">
          <% link_to('#') do %>
            <h3>Dakota Mahogany</h3>
            <%= image_tag "images/granite/dakota-mahogany.jpg", :alt => 'dakota mahogany' %>
          <% end %>            
        </div>
        <div class="other">
          <p>**Any colour available by request**</p>
          <label>Other Color</label>
          <input type="text" />
        </div>
      </div>
    </div>  
  </section>

  <section class="step-4">
    <div class="container">
      <h2>Step 4. Select optional Add-ons</h2>
      <div class="col-3">
        <div>
          <div class="checkbox-container add-portrait">
            <%= image_tag "images/work_2.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
            <input id="styled-checkbox-1" type="checkbox" value="value1" />
            <label for="styled-checkbox-1"> Add Engraved Portrait</label>
          </div>
        </div>
        <div>
          <div class="checkbox-container add-scene">
            <%= image_tag "images/work_3.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
            <input id="styled-checkbox-2" type="checkbox" value="value2"> 
            <label for="styled-checkbox-2"> Add a Scene</label>
          </div>  
        </div>
        <div>
          <div class="checkbox-container add-image">
            <%= image_tag "images/work_7.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
            <input id="styled-checkbox-3" type="checkbox" value="value3"> 
            <label for="styled-checkbox-3"> Add an Image</label>
          </div>  
        </div>
      </div> 
      <div>
        <div class="checkbox-container no-addons">
          <input id="styled-checkbox-4" type="checkbox" value="value3"> 
          <label for="styled-checkbox-4"> No Add-ons, thanks!</label>
        </div>  
      </div> 
    </div>    
  </section>
  <section class="step-5">
    <div class="container">
      <h2>Step 4. Contact Information</h2>
      <p>Fill in the form below and we will email you shortly with the details of your free estimate! We promise we won't spam you.</p>
      <div class="product-container contact-form">
        <div class="other">
          <label>Name</label>
          <input type="text" name="name" />
        </div>
        <div class="other">
          <label>Email</label>
          <input type="email" name="email" />
        </div>
        <div class="other">
          <label>Additional Comments</label>
          <textarea></textarea>
        </div>
        <button class="btn-primary">Send in for Your Quote</button>
      </div>
    </div>  
    
  </section>

</div>
