---
hero_layout: "partials/layouts/home_hero"
title: Caufields Memorials
fixedheader: partial-fixed 
headline: Headstones <span>&</span> Monuments
subtitle: Over 30 years of quality workmanship, fast delivery, attention to detail, and fabulous customer service.
---

<div class="main-content">

  <section class="intro-section">
    <div class="intro inner-container">
      <h2>Custom Engraving</h2>
      <p>Caufields in-house and onsite sandblasting services - paired with an extensive selection of granite stones, help your original ideas become a reality as quickly and easily as possible. In addition, our laser engraver will embed portraits and custom designs directly onto the stone's surface. If you are looking for a competitive price, knowledgeable specialists, and fast service - then allow us to help you honor your loved one with a beautiful and original memorial.</p>
    </div>
    <div class="intro-cta">
        <%= current_link_to 'LEARN MORE ABOUT OUR SERVICES', '/services/', :class => 'link-primary'%>
    </div>
  </section>

  <section class="products-services">
    <div class="container">
      <h2>Products & Services</h2>
      <div class="col-3">
        <div>
          <div class="icon-container">
            <%= image_tag "images/monuments.png", :alt => 'monument icon' %>
          </div>
          <%= current_link_to 'Learn About <br> Monuments', '/monuments/', :class => 'link-primary'  %>
        </div>
        <div>
          <div class="icon-container">
            <%= image_tag "images/plaque.png", :alt => 'monument icon' %>
          </div>
          <%= current_link_to 'Learn About <br> Plaques', '/plaques/', :class => 'link-primary'  %>
        </div>
        <div>
          <div class="icon-container">
            <%= image_tag "images/plate.png", :alt => 'monument icon' %>
          </div>
          <%= current_link_to 'Learn About <br> Plates', '/plates/', :class => 'link-primary'  %>
        </div>
      </div>
      <div class="service-engraving">
        <h3>Onsite sandblasting</h3>
        <p>We come to you! Name and date additions can be done onsite in the cemetery while custom Address Stones can be made directly on your property. </p>
        <%= current_link_to 'SEE OUR OTHER SERVICES', '/services/', :class => 'link-primary'  %>
      </div>
    </div>
  </section>

  <section class="our-work">
    <div class="inner-container">
        <h2>Samples of our Work</h2>
    </div>
    <div class="work-grid">
      <div class="item-1">
        <%= image_tag "images/work_1.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
      </div>
      <div class="item-2">
         <%= image_tag "images/work_2.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
      </div>
      <div class="item-3">
         <%= image_tag "images/work_5.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
      </div>
      <div class="item-4">
         <%= image_tag "images/work_4.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
      </div>
      <div class="item-5">
         <%= image_tag "images/work_3.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
      </div>
      <div class="item-6">
       <%= image_tag "images/work_6.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
      </div>
      <div class="item-7">
         <%= image_tag "images/work_7.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
      </div>
    </div>
  </section>

  <section class="testimonials">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="double-testimonial">
            <div class="quote">
                <p>"All of the arrangements with Caufields were made by telephone/email. The staff were most helpful and courteous and the new headstone and its installation more than met our expectations.  We have no reservations about recommending the services of Caulfields."</p>
                <p class="author"> GH</p>
            </div>
            <div class="quote">
                <p>"In my time of grief, the staff were so supportive, timely and compassionate.  Who knew they would not only give great service but also had the best product selection and PRICE in town. Such a beautiful headstone with a  perfect design reflective of my mom’s legacy!"</p>
                <p class="author"> DZ</p>
            </div>
        </div>
    </div>
  </section>
  <%= partial "partials/layouts/quote_banner" %>
</div>
