---
hero_layout: "partials/layouts/hero"
title: Monuments | Caufields Memorials
headline: Monuments
subtitle: Custom sandblasted granite headstones made to order locally and in house in a timely manner, matched with great service and companionate people make for a seamless experience.
heroimage: images/work_2.jpg
introtext: 
---
<div class="main-content products">
  <section class="sub-template-content">
    <div class="container">
      <p>We make and mark either traditional headstones in many shapes and colors with polished faces as well as polished or broken edges and bases to match. We also do non-traditional (natural) type stones for memorial purposes which we have both polished and unpolished on one surface in stock. Our granite headstones and marble is ordered in from all over the world to offer the many different colors needed. Each stone is from a certain area where it occurs naturally, for instance ‘Dakota Mahogany’ is from Dakota USA, Black granite is from either China or India, Blue Pearl is from Norway, Barre Grey is from the town of Barre Vermont, etc.</p>
    </div>  
  </section>
  <section class="sub-template-content row-white photos">
    <div class="container">
      <h2>Photos</h2>
      <p>Some examples of our Monuments</p>
    </div>  
      <div class="work-grid">
        <div class="item-1">
          <%= image_tag "images/work_1.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-2">
           <%= image_tag "images/work_2.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-3">
           <%= image_tag "images/work_5.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-4">
           <%= image_tag "images/work_4.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-5">
           <%= image_tag "images/work_3.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-6">
         <%= image_tag "images/work_6.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-7">
           <%= image_tag "images/work_7.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
    </div>
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
