---
hero_layout: "partials/layouts/hero"
title: Monuments | Caufields Memorials
headline: Monuments
subtitle: Competitively priced starting at $950
heroimage: images/monument_work_6.jpg
introtext: Custom sandblasted granite headstones made to order locally and in house in a timely manner, matched with great service and compassionate people make for a seamless experience.
---
<div class="main-content products product-template">
  <section class="sub-template-content product-details">
    <div class="container">
      <p>We make and mark either traditional headstones in many shapes and colors with polished faces as well as polished or broken edges and bases to match. We also do non-traditional (natural) type stones for memorial purposes which we have both polished and unpolished on one surface in stock. 

      Our granite headstones and marble is ordered in from all over the world to offer the many different colors needed. Each stone is from a certain area where it occurs naturally, for instance ‘Dakota Mahogany’ is from Dakota USA, Black granite is from either China or India, Blue Pearl is from Norway, Barre Grey is from the town of Barre Vermont, etc.</p>

      <h3>Memorial Orders</h3><p> These can take 1-2 weeks to 2-3 months depending on art approval, available stock or if it is a custom stone order. If the stone is in stock, it can depend on your decisions making regarding art approval. We take your ideas and provide a digital mock up, with different fonts, images, placement and borders available. This is emailed to you which you can then send around to family members to help in the decision making process. Our Facebook page also has an available gallery for potential ideas. Once your final decision has been confirmed we move the order into production. The mask is cut within a few days and applied to the stone unless it is a custom order which takes more time. The sandblasting is then done and the stone will be painted at the same time if required. From the time of art approval it generally takes a week for a stone to be done and ready for delivery or pick up.
      </p>
    </div>  
  </section>
  <section class="sub-template-content row-white image-row">
    <div class="container">
      <h2>Photos</h2>
      <p>Some examples of our Monuments</p>
    </div> 
      <div class="col-4">
        <div class="item-1">
          <%= image_tag "images/monument_work_1.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-2">
           <%= image_tag "images/monument_work_2.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-3">
           <%= image_tag "images/monument_work_3.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div>
        <div class="item-4">
           <%= image_tag "images/monument_work_4.jpg", :alt => 'Monument engraved to John and Rose together forever ' %>
        </div> 
      </div>
      <p class="fb-cta">You can see more examples of our work on our<a href="https://www.facebook.com/pg/CaufieldsEngraving/photos/?ref=page_internal" target="_blank"> Facebook</a>!</p>
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
